<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Mobile Store</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static',filename='images/fevicon.png')}}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mCustomScrollbar.min.css')}}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet">

<!-- ------------------------------------------FORM SCRIPT  -------------------------------->
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images-form/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts-form/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts-form/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/animate/animate.css')}}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/select2/select2.min.css')}}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor-form/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css-form/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css-form/main.css')}}">
    <!-- ------------------------------------------FORM SCRIPT  -------------------------------->
    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout ">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{url_for('static',filename='images/loading.gif')}}" alt="#" /></div>
    </div>
        <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/"><img src="{{url_for('static',filename='images/logo.png')}}" alt="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/">Home</a> </li>
                                        <li> <a href="/about">About</a> </li>
                                        <li><a href="/brand">Brand</a></li>
                                        <li><a href="/special">Specials</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li class="last">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <form method="POST" action="/search">
                                <input type="text" class="search-input" placeholder="Type to search" name="s">
                            </form>
                            
                            <button class="search-icon" type="submit"><span></span></button>
                        </div> 
                        <button class="close"></button>
                    </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <div class="location_icon_bottum">
                            <ul>
                                <li><img src="{{url_for('static',filename='icon/call.png')}}" />+919568786668</li>
                                <li><img src="{{url_for('static',filename='icon/email.png')}}" />luciferdevil</li>
                                <li><img src="{{url_for('static',filename='icon/loc.png')}}" />Ballia</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->

{% block body%} {% endblock%}
    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box">
                            <div class="headinga">
                                <h3>Address</h3>
                                <span>Ballia</span>
                                <p>+919569786668
                                    <br>sujeetyadav8004100@gmail.com</p>
                            </div>
                            <ul class="location_icon">
                                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                            <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="/">Home</a></li>
                                    <li> <a href="/about">About</a></li>
                                    
                                    <li> <a href="/brand">Brand </a></li>
                                    <li> <a href="/special">Specials  </a></li>
                                    <li> <a href="/contact"> Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 All Rights Reserved. Design By<a href="https://www.instagram.com/__lucifer_devil_/" target='_blank'> Lucifer Devil</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
<!-- ------------------------------------------FORM SCRIPT  -------------------------------->
    <script src="{{url_for('static',filename='vendor-form/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor-form/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor-form/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='vendor-form/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor-form/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor-form/daterangepicker/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor-form/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='js-form/main.js')}}"></script>

<!-- ------------------------------------------FORM SCRIPT  -------------------------------->

    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <!-- javascript -->
    <script src="{{url_for('static',filename='js/owl.carousel.js')}}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='assets/scripts/main.js')}}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>